@import '../abstracts/variables.scss';
@import '../base/fonts';
@import '../base/base';


.comment-page-wrapper{
    background-color: $siteBg;
}


.return-link{
    
    text-align: center;
    font-size: 2rem;

}