@import '../abstracts/variables.scss';
@import '../base/fonts';
@import '../base/base';


.comment-page-wrapper{

    background-color: $siteBg;

    h3{
        text-align: center;
        color: rgba(6,119,163,1);
        
        a{
            color: rgba(6,119,163,1);
        }
        
    }

}


.return-link{
    
    text-align: center;
    font-size: 2rem;

}