@import '../abstracts/variables.scss';
@import '../base/fonts';
@import './links';

$originalPostShadow : 0px 13px 20px -13px rgba(0,0,0,0.10);

.postBox{
    margin: 1rem 6rem;
    padding: 1rem;

    background-color: $postBg;

    //alternativeColor
    border: solid 3px rgba(255, 0, 0, 0.8);
    border-radius: $OPRadius;
    box-shadow: $originalPostShadow;
    
    font-family: $mainFont;

    .post-title{
        display: grid;
        grid-template-columns: 9fr 1fr;

        p:nth-child(1){
            font-size: 1.1rem;
            font-weight: 700px;

            color: $titleColor;
        }

        p:nth-child(2){
            text-shadow: $darkShadow;
            //alternativeColor, doesn't work
            color: rgba(255, 0, 0, 0.8);
        }
        
    }
}

.postInfo{
    display: flex;
    align-items: stretch;

    font-family: $mainFont;
}

ul, li{
    list-style: none;
}

