@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

*{
    font-family: 'Darker Grotesque', sans-serif;
}

.return-link{
    background-color: black;
    text-align: center;
    font-size: 2rem;
    a{
        text-decoration: none;
        font-weight: 600;
        color: #989191;
    }
}

.comment-page-wrapper{
    background-color: #989191;
}