.paginationWrapper{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
}

.paginationWrapper>div{
    padding: 1rem;
    background-color: #d3d3d3;
    width: 20%;
    color: #ffffff;
    text-align: center;
}