.postBox{
    margin: 1rem 6rem;
    padding: 1rem;
    border: solid 1px #e6e6e6;
    box-shadow: 0px 13px 20px -13px rgba(0,0,0,0.10);
    background-color: #cdeac0;
    background-color: #fec3a6;
    background-color: #efe9ae;
    background-color: #ff928b;
    background-color: #8cf060;
}

.postBox h1{
    font-size: 1.4rem;
    text-align: left;
    padding-left: 2em;
}

.postBox h2{
    font-size: 1rem;
    text-align: left;
    padding-left: 2.3em;
    color: #fff;
}

.postBox h1 h2{
    
}

.postBox a {
    color: #fff;
    text-decoration: none; /* no underline */
}

ul, li{
    list-style: none;
}

.postInfo{
    display: flex;
    justify-content: space-between;
}

