//General
$siteBg: #F1F1F1;
$postBg: #FFFFFF;
$mainFont: 'Darker Grotesque', sans-serif;
$secondaryFont: 'Arial';

$titleColor: #5a5858;
$subtitleColor: #494949;

$lightLinkColor: #FFFFFF;
$altColor: linear-gradient(163deg, rgba(245,84,121,1) 0%, rgba(186,0,0,1) 100%);
$altColor: linear-gradient(163deg, rgba(143,255,79,1) 0%, rgba(13,176,143,1) 100%);
$altColor: linear-gradient(146deg, rgba(154,243,245,1) 0%, rgba(6,119,163,1) 100%);
$altTextColor: -webkit-linear-gradient(163deg, rgba(245,84,121,1) 0%, rgba(186,0,0,1) 100%);
$altTextColor: -webkit-linear-gradient(163deg, rgba(143,255,79,1) 0%, rgba(13,176,143,1) 100%);
$altTextColor: -webkit-linear-gradient(146deg, rgba(154,243,245,1) 0%, rgba(6,119,163,1) 100%);

$OPRadius: 50px;
$commentRadius: 30px;
$pagRadius: 300px;

$lightShadow: 0 0 100px rgb(247, 247, 247), 0 0 50px rgb(199, 199, 199);
$darkShadow: 0px 13px 10px -13px rgba(0,0,0,0.10);
$linkTransition: 0.8s all ease;
$txtlinkTransition: text-shadow, 0.8s all ease;
